{
  "plugins": ["prettier-plugin-tailwindcss"],
  "ignorePath": ".prettierignore",
  "overrides": [
    {
      "files": "assets/styles/core/_colors.scss",
      "options": { "parser": "scss" }
    }
  ],
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": false,
  "useTabs": false,
  "singleAttributePerLine": true
}
